<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="master" connectionString="server=127.0.0.1;database=WOODWORK;uid=sa;pwd=123.com;Connect Timeout=120"/>

    <!--数据的连接字符串-->
    <add name="tmm" connectionString="server=127.0.0.1;database=WOODWORK;uid=sa;pwd=123.com"/>
    <add name="tmmLog" connectionString="server=127.0.0.1;database=WOODWORK;uid=sa;pwd=123.com"/>
    <add name="YHFY_GSP_01" connectionString="server=127.0.0.1;database=WOODWORK;uid=sa;pwd=123.com"/>
    <add name="YHFY_GMP_01" connectionString="server=127.0.0.1;database=WOODWORK;uid=sa;pwd=123.com"/>

    <!--备份数据库文件路劲-->
    <add name="DbBackPath" connectionString="E:\ERP_BACK\"/>

    <!--需要备份的数据库-->
    <add name="DB" connectionString="WOODWORK"/>

    <!--定时执行备份的时间-->
    <add name="time" connectionString="3540000"/>
    <!--执行时间1000*60*60*24 一小时执行一次-->
  </connectionStrings>
</configuration>
